:root {
    --c-snow: #E2F4F7;
    --c-snow-light: #eaf5f7;
    --c-blue: #36f;
    --c-green: #0f3;
    --c-red: #C71813;
    --c-red-dark: #800C0C;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.game {
    display: inline-block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}