.game > .game-content {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: #fff;
}
    .game > .game-content.show {
        z-index: 3;
    }
    .game-content > .header {
        display: inline-block;
        width: 100%;
        height: 40px;
        padding: 5px 20px;
        background-color: var(--c-snow);
    }
        .game-content > .header > * {
            display: inline-block;
            height: 100%;
            line-height: 30px;
            font-size: 20px;
            font-weight: bold;
        }
        .game-content > .header > .score {
            float: left;
        }
            .score > img {
                display: inline-block;
                height: 20px;
                float: left;
                margin: 5px 10px 5px 0;
            }
            .score > .value {
                display: inline-block;
                float: left;
            }
        .game-content > .header > .timer {
            float: right;
            letter-spacing: 2px;
        }
    .game-content > .floors {
        display: inline-block;
        width: 100%;
        height: calc(100% - 40px);
        box-shadow: 0 2px 8px #3335;
        overflow: hidden;
    }
        .game-content > .floors > .floor {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-top: 10px solid #B55D35;
            border-bottom: 10px solid #612722;
            background-color: #ccc;
            overflow: hidden;
            position: relative;
        }
            .game-content > .floors.floors-1 > .floor {
                height: 100%;
                zoom: 1;
            }
            .game-content > .floors.floors-2 > .floor {
                height: 50%;
                zoom: 0.9;
            }
            .game-content > .floors.floors-3 > .floor {
                height: calc(100% / 3);
                zoom: 0.8;
            }
            .game-content > .floors.floors-4 > .floor {
                height: 25%;
                zoom: 0.6;
            }
            .floor > * {
                display: inline-block;
                width: 100%;
                float: left;
            }
            .floor > .top {
                height: 0;
            }
            .floor .lamp {
                display: inline-block;
                width: 40px;
                height: 30px;
                border-top: 20px solid red;
                border-radius: 50%;
                position: absolute;
                bottom: 150px;
                left: calc((100% - 80px) / 3);
                z-index: 1;
            }
                .floor .lamp + .lamp {
                    left: calc((100% - 80px) / 3 * 2 + 40px);
                }
                .floor .lamp::before {
                    display: inline-block;
                    content: '';
                    width: 4px;
                    height: 100vh;
                    position: absolute;
                    bottom: 30px;
                    left: calc(50% - 2px);
                    background-color: #333;
                }
                .floor .lamp > .bulb {
                    display: inline-block;
                    width: 20px;
                    height: 13px;
                    margin: -3px 0 0 10px;
                    border: none;
                    border-bottom: 10px solid #ffff90;
                    border-radius: 0 0 50% 50%;
                    box-shadow:
                        0 10px 10px 0px #fff,
                        0 20px 20px 0px #fff,
                        0 30px 30px 0px #fff,
                        0 40px 40px 5px #fff,
                        0 50px 50px 10px #fff,
                        0 60px 60px 15px #fff;
                }
            .floor > .middle {
                height: 100%;
                background-color: #eee;
                position: relative;
                overflow: hidden;
            }
                .floor > .middle {
                    background-image: url(../../img/game-collector/wall-2.png);
                }
                .floor > .middle > .line {
                    display: inline-block;
                    width: 200%;
                    margin-left: -100%;
                    height: 5px;
                    background-image: repeating-linear-gradient( to right,
                        var(--c-red) 0% 9%, 
                        #fff 9% 10%);
                    position: absolute;
                    left: 0;
                    box-shadow: 0 0 2px #333;
                    animation: line 10s linear 0s infinite forwards;
                }
                    .floor > .middle > .line.top {
                        bottom: 45px;
                    }
                    .floor > .middle > .line.bottom {
                        bottom: 30px;
                        transform: rotate(180deg);
                        animation-direction: reverse;
                    }
                .floor > .middle > .leg {
                    display: inline-block;
                    width: 40px;
                    height: 90px;
                    background-color: var(--c-blue);
                    position: absolute;
                    bottom: -30px;
                    border-radius: 20px;
                    transform-origin: 20px 20px;
                    box-shadow: 0 2px 4px #3338;
                }
                    .leg > .circle {
                        top: 10px;
                        left: 10px;
                    }
                    .floor > .middle > .leg.left {
                        left: -20px;
                        transform: rotate(-15deg);
                    }
                    .floor > .middle > .leg.right {
                        right: -20px;
                        transform: rotate(15deg);
                    }
            .floor .circle {
                display: inline-block;
                width: 20px;
                height: 20px;
                background-color: var(--c-snow);
                background-color: #ccc;
                position: absolute;
                border-radius: 10px;
                overflow: hidden;
                transform-origin: center;
            }
                .floor .circle::after {
                    display: inline-block;
                    content: '';
                    width: 100%;
                    height: 20%;
                    background-color: var(--c-red);
                    position: absolute;
                    top: 40%;
                    left: 0;
                    animation: legCircle 1s linear 0s infinite forwards;
                }
            .floor > .bottom {
                height: 0;
            }

@keyframes legCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes line {
    0% {
        margin-left: -100%;
    }
    100% {
        margin-left: 0;
    }
}